* {
  padding: 0%;
  margin: 0%;
}
.body{
    background-color: lightgray;
}
.page {
  display: column;
  text-align: center;
  margin: 150px;
}
.text {
  font-size: x-large;
}
.color {
  background-color: rgb(225, 244, 141);
}
.image {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  margin: 20px;
  padding: 30px;
}
.over {
  display: column;
  text-align: center;
  font-size: x-large;
  margin: 150px;
}
.market {
  display: column;
  text-align: center;
  font-size: x-large;
  margin: 150px;
}
.nav {
  display: flex;
  justify-content: flex-end;
  position: static;
}
.App {
  position: static;
}
.sticky {
  position: fixed;
  top: 10;
  width: 100%;
  height: 10%;
}
.logo {
  position: sticky;
  justify-content: flex-start;
  display: flex;
  justify-content: space-between;
  height: 50px;
}
.img2 {
  height: 300px;
  border-radius: 100px;
}
.img1 {
  height: 300px;
  border-radius: 100px;
}
.product {
  display: flex;
}
.App {
  display: flex;
}
.details {
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 20%;
  padding: 100px;
  border-radius: 1000px;
}
.link {
  display: column;
  margin-left: 200px;
  padding-bottom: 20px;
}
.photo {
  height: 20px;
  justify-content: flex-start;
  margin-top: 20px;
}
.photo2 {
  height: 20px;
  justify-content: flex-start;
}
.flex {
  margin-left: 300px;
}
.footer {
  background-color: lightgray;
  display: flex;
  padding-top: 10px;
}
.footer2{
    margin-left: 60px;
}
.last{
    padding-top: 40px;
    margin-left: 40px;
}
.last2{
    margin-top: 10px;
}
.promote{
    border-radius: 100px;
    width: 250px;
}
.nav1{
    display: flex;
    padding-left: 200px;
    padding-top: 20px;


}
.nav2{
    margin-left: 100px;
    padding-bottom: 10px;
    padding-top: 60px;
}
.nav3{
    height: 15px;
    margin-left: 50px;
    padding-top: 60px;
}
.body1{
    background-color: rgb(189, 182, 153);
}

