* {
  padding: 0%;
  margin: 0%;
}
.body {
  background-color: lightgray;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lightgrey;
  padding-left: 10px;
  padding-right: 40px;
}
.header1 {
  display: flex;
  padding-left: 100px;
}
.appstore {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
.store {
  padding-left: 110px;
  padding-right: 300px;
}

.font {
  font-size: 15px;
  color: grey;
  display: flex;
  /* padding-left: 50px; */
  justify-content: space-around;
}
.blue {
  background-color: rgb(74, 74, 233);
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  color: white;
}
.page {
  display: column;
  text-align: center;
  padding-top: 60px;
}
.text {
  font-size: x-large;
  text-align: center;
  padding-left: 250px;
}

.image {
  display: flex;
  justify-content: space-between;

  padding-top: 30px;
  padding-bottom: 30px;
}
.img1 {
  border-color: black;
  border-style: solid;
}
.img2 {
  border-color: black;
  border-style: solid;
}
.img3 {
  border-color: black;
  border-style: solid;
}
.over {
  display: column;
  text-align: center;
  font-size: x-large;
  margin: 150px;
}
.market {
  display: column;
  text-align: center;
  font-size: x-large;
  margin: 150px;
}
.nav {
  display: flex;
  justify-content: flex-end;
  position: static;
}
.App {
  position: static;
}

.product {
  display: flex;
}
.App {
  display: flex;
}
.details {
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 20%;
  padding: 100px;
  border-radius: 1000px;
}
.link {
  display: column;
  margin-left: 200px;
  padding-bottom: 20px;
}
.photo {
  height: 20px;
  justify-content: flex-start;
  margin-top: 20px;
}
.photo2 {
  height: 20px;
  justify-content: flex-start;
}
.flex {
  margin-left: 300px;
}
.footer {
  background-color: lightgray;
  display: flex;
  padding-top: 10px;
}
.footer2 {
  margin-left: 60px;
}
.last {
  padding-top: 40px;
  margin-left: 40px;
}
.last2 {
  margin-top: 10px;
}
.promote {
  border-radius: 100px;
  width: 250px;
}

.body1 {
  background-color: rgb(189, 182, 153);
}
.body2 {
  display: flex;
  justify-content: space-around;
}
